---
layout: default
overtitle: SQ Design Labs
title: UX • UI • DataViz
description: Don't settle for pretty design.<br> Spark curiosity. Inspire confidence. Solve problems. Do more for your users and your business.
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap">
			<div class="tagline">
				{{ page.description }}
			</div>
		</div>
	</section>

	<section class="recent-posts">
		<div class="wrap grid">

			<div class="recent-posts__list grid">
				{% for post in site.posts %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

		</div>
	</section>

	<section class="cta">
		<div class="wrap">
			<a href="#" class="button--fill button--large contact-trigger js-contact">Schedule a consultation</a>
		</div>
	</section>


	{% include section__case-studies.html %}

	{% include section__clients.html %}

	{% include section__about.html %}

</div>
