<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Schedule a consultation</h2>
        <p class="subtitle--light">Choose a date and time that works for you. We'll start with a 15-minute meeting to discuss how design and technology can help your business.</p>
        <br>
        <hr>
        <p>Prefer using email? Say hi at <a
            href="mailto: {{ site.data.settings.contact_settings.email_address }}">{{ site.data.settings.contact_settings.email_address }}</a>
        </p>
      </header>
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/design-help/15min?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=067f8a" style="min-width:320px;height:630px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      <!-- Calendly inline widget end -->

    </div>
  </div>
</section>