<section class="case-studies">
  <div class="wrap grid">
    <h5 class="section-title">Case Studies</h5>
    <div class="case-studies__list grid">

      <article class="post__card">
        <a href="/case-study-pmi-da" class="post__link">
          <div class="post__image" style="background-image: url(/images/case-studies/case-study-01.png)">
          </div>
        </a>
      </article>

      <article class="post__card">
        <a href="/case-study-mss" class="post__link">
          <div class="post__image" style="background-image: url(/images/case-studies/case-study-02.png)">
          </div>
        </a>
      </article>


    </div>

  </div>
</section>