<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h2 class="title">Luis Cielak</h2>
      <p class="subtitle subtitle--light">Owner and Consultant</p>
      <p>Luis strives to make people’s jobs easier. With a background in business, design and tech, he’s worked for more than 15 years to solve problems with technology.</p>
      <p>Luis, who was born and raised in Mexico City, now calls Philadelphia home. He has a bachelor’s degree in Management Information Systems and a master’s degree in Interactive Design Media. Luis’ life experiences have brought greater perspective to his designs and make him uniquely qualified to work on a range of projects with a variety of clients.</p>
      <p>He’s a business-minded data expert, who has an eye for typography and color theory, and the skills to execute front-end website coding. Luis is here to help you build experiences that will solve problems and simplify your job.</p>
    </div>
  </div>
</section>