<section class="clients">
  <div class="wrap">
    <div class="clients__wrap">
      <header class="clients__header">
        <h5 class="section-title">Select Clients</h5>
      </header>

      {% include post-components/gallery.html
        columns = 6
        full_width = true
        images = "
          images/clients/logo-jpmc.svg,
          images/clients/logo-usagov.svg,
          images/clients/logo-vanguard.svg,
          images/clients/logo-celgene.svg,
          images/clients/logo-westat.svg,
          images/clients/logo-elsevier.svg
        "
        %}

    </div>
  </div>
</section>

{% include component-divbar.html %}
