<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h2 class="title">Luis Cielak</h2>
      <p class="subtitle subtitle--light">Chief Design Officer</p>
      <p>Luis comes from a background in Information Systems and Interactive Design. He mixes his design and coding chops to create interactive visualizations and interfaces that tell stories and help solve problems.</p>
      <p>Originally from Mexico City, Luis now lives in Philadelphia providing design consulting services. He is passionate about making user experiences richer and interfaces more effective.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Say Hi!</a>
    </div>
  </div>
</section>