// - - - - - - - - - - - - - - - - - -

// Section - Clients

// - - - - - - - - - - - - - - - - - -


.clients {
  padding-top: 3rem;

  .gallery__item {
    margin-top: 2rem;
  }

  img {
    width: auto;
  }
}